body {
    background: linear-gradient(to bottom, #001F3F, #5E2CA5, #9B59B6, #E91E63);
    margin: 0;
    height: 100vh;
    color: #fff;
    /* Set text color to white for better visibility */
    font-family: 'Arial', sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.titleSection {
    text-align: center;
    font-family: 'Rowdies', sans-serif;
    font-size: 120px;
}

.navbar-brand {
    font-size: 40px;
    color: #fff;
}

.header {
    background-color: #004080;
    color: #fff;
}

.navbar-nav li {
    margin-left: 10px;
    font-size: 25px;
}

.nav-link {
    color: #fff !important;
    /*Aidan check this our later(get rid of important somehow). I know its not best to use important but I didn't exactly know what to do at the moment. */
}

.startSection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.offcanvas-body li {
    font-size: 22px;
}

.offcanvas-title {
    font-size: 30px;
}

.center {
    margin-top: 200px;
}

.strt-btn {
    margin-top: 30px;
    width: 250px;
    height: 100px;
    font-size: 50px;
    font-family: 'Rowdies', sans-serif;
}

.tutorial {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    margin: 20px;
    font-family: 'Rowdies', sans-serif;
}


.centerText {
    max-width: 900px;
    background-color: rgba(235, 215, 215, 0.7);
    border-radius: 10px;
    padding: 15px;
}

.tutitle {
    font-size: 80px;
    text-align: center;
    font-family: 'Rowdies', sans-serif;
}

.btnSize {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnSize label {
    width: 300px;
    height: 90px;
    font-size: 40px;
    text-align: center;
    align-items: center;
}

.settingsBox {
    max-width: 1200px;
    background-color: rgba(235, 215, 215, 0.7);
    border-radius: 10px;
    padding: 15px;
}

.moveDwn {
    padding-top: 50px;
}

.strt {
    width: 400px;
    height: 120px;
    font-size: 60px;

}

.smlerImg {
    max-width: 400px;
}

.shrink {
    font-size: 50px;
}

.smlerSmlImg {
    max-width: 300px;
}

.Container {
    display: flex;
    justify-content: space-between;
}

.player1Btns img {
    margin-left: 35px;
    max-width: 120px;
}

.player2Btns img {
    margin-right: 35px;
    max-width: 120px;
}

.player1Btns p {
    font-size: 30px;
}

.player2Btns p {
    font-size: 30px;
}

.doneBtn button {
    margin-top: 30px;
    width: 300px;
    height: 100px;
    font-size: 60px;
}

.pointerThang :hover {
    cursor: pointer;
}

.celebrate {
    display: flex;
    justify-content: center;
    align-items: center;
}

.celebrate img {
    max-width: 400px;
    margin-right: 10px;
}

.playAgain button {
    font-size: 60px;
    padding: 20px;
}

/* font-family: 'Rowdies', sans-serif; */